:root {
	--color-default: #31363F;
	--color-second: #222831;
	--color-white: #fff;
	--color-body: #e4e9f7;
	--color-light: #e0e0e0;
}

/* CARD STYLES */
.discount__card,
.preview__card {
	background-color: #2C2E34 !important;
}

.discount__preview,
.product__preview {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.discount__preview img,
.product__preview img {
	max-height: 270px !important;
}

.card-img-top {
	height: 150px !important;
}

/* PAGE 2 */
.home-section .text {
	display: inline-block;
	color: var(--color-default);
	font-size: 25px;
	font-weight: 500;
	margin: 18px;
}

.product__snapshot {
	max-height: 300px;
	overflow: hidden;
	cursor: pointer;
	transition: filter 300ms ease-in-out;
}

.product__snapshot:hover {
	filter: grayscale(0);
}

#carouselExampleAutoplaying {
	height: 750px !important;
	overflow: hidden !important;
}

/* VIEW GAME */

@media screen and (width < 1300px) {
	#carouselExampleAutoplaying {
		height: 400px !important;
		overflow: hidden !important;
	}
}

@media screen and (width < 1000px) {
	.carousel-item img {
		height: 300px !important;
	}

	#carouselExampleAutoplaying {
		height: 300px !important;
		overflow: hidden !important;
	}

	.carousel-caption h5 {
		font-size: 1rem;
	}

	.carousel-caption p {
		font-size: .9rem;
	}

	.discount__preview,
	.product__preview {
		-webkit-line-clamp: 2;
	}
}

@media (hover: hover) {
	.product__snapshot {
		filter: grayscale(1);
	}
}