.welcome-user{
    background: linear-gradient(to left,#ffffff, #ebdfff, #debdff, #d898ff, #d76cfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.status-boxes{
    background-color: #31363F;
}
.pink{
    filter: invert(67%) sepia(84%) saturate(4608%) hue-rotate(241deg) brightness(105%) contrast(98%);
}